.sidebar {
  height: 100%;
  width: 330px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  padding-top: 30px;
}

.Scan {
  display: flex;
  justify-content: space-between; /* Places the elements at the beginning and end */
  padding: 50px;
  color: white;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center items vertically */
  
  margin-left: 10px;
}

.buttons-container .button {
  background-color: #0097ac;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  border-radius: 5px;
}

.apply-filters-button {
  background-color: #0097ac;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: auto; /* Aligns the button to the right */
}
.word-section {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: auto;
  color:#6F6F6F;

}
.words {
  color:#6F6F6F;
  margin-right: 10px;
}
.grey-section {
  height: 200px; /* Adjust the height of the gap */
  background-color: #ccc; /* Grey color */
  /* Add some space between sections */
}